<header class="hero">
  <div class="hero-content">
    <h1 class="hero-title">
      Hi there, I'm
      <span class="title-name">
        Gabriel
        {% include "components/svg/sparkles.html" %}
      </span>
    </h1>

    <p class="hero-tagline">
      Frontend engineer building scalable UI systems, real time dashboards, and mobile applications with strong
      performance focus.
    </p>

    <p class="hero-subtitle">UI architecture, API integration, and product engineering</p>
  </div>

  <img class="hero-img" src="/assets/images/hero-img.gif" alt="">

  {% include "components/svg/hero-dividers.html" %}
</header>