<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ title or site.name }} - {{ site.title }}</title>
<meta name="description" content="{{ description or site.description }}">
<meta name="author" content="{{ site.author.name }}">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{{ title or site.name }}">
<meta property="og:description" content="{{ description or site.description }}">
<meta property="og:site_name" content="{{ site.name }}">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta property="twitter:title" content="{{ title or site.name }}">
<meta property="twitter:description" content="{{ description or site.description }}">

<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">