<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">

<title>{{ title or site.name }} - {{ site.title }}</title>
<meta name="description" content="{{ description or site.description }}">
<meta name="author" content="{{ site.author.name }}">

{% set socialImage = thumb.base or (site.url + "/social/blog/" + slug + "/" + ("es/" if lang == "es" else "") + "social.png") if layout == "blog-post.html" else (site.url + "/social/default.png") %}
{% set isArticle = layout == "blog-post.html" %}

<meta property="og:type" content="{% if isArticle %}article{% else %}website{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{{ title or site.name }}">
<meta property="og:description" content="{{ description or site.description }}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:image" content="{{ socialImage }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{% if isArticle and date %}
  <meta property="article:published_time" content="{{ date.toISOString() }}">
  <meta property="article:author" content="{{ site.author.name }}">
  {% if tags %}
    {% for tag in tags %}
      <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
  {% endif %}
{% endif %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:title" content="{{ title or site.name }}">
<meta name="twitter:description" content="{{ description or site.description }}">
<meta name="twitter:image" content="{{ socialImage }}">

<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
<link rel="apple-touch-icon" href="/assets/favicon.svg">