---
css:
- /css/variables.css
- /css/base.css
- /css/layout.css
- /css/home.css
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include "components/metadata.html" %}

  {% for href in css %}
  <link rel="stylesheet" href="{{ href | url }}">
  {% endfor %}

  {% block script %}{% endblock %}
</head>

<body>
  <a href="#main" class="skip-link">Skip to content</a>
  {% include "components/site-header.html" %}

  <main id="main">
    {% include "components/hero.html" %}
    {% include "components/experience.html" %}
    {% include "components/projects.html" %}
    {% include "components/testimonials.html" %}
    {% include "components/blog-preview.html" %}
  </main>

  {% include "components/site-footer.html" %}
  {% include "components/mobile-nav.html" %}

  <script src="/js/language.js" defer></script>
  <script src="/js/theme.js" defer></script>
  <script src="/js/clipboard.js" defer></script>
  <script src="/js/animations.js" defer></script>
  <script src="/js/typing-animation.js" defer></script>
  {% block scripts %}{% endblock %}
</body>

</html>